<div class="wrappert">
  <div class="container pt-5">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4">
            <h2 class="titulo-tablero">Turno: jugador 01</h2>
          </div>
          <div class="col-md-4">
            <h2 class="titulo-tablero d-flex justify-content-center">Ronda</h2>
          </div>
          <div class="col-md-4 mb-4 titulo-tablero d-flex justify-content-end">
            <h2 class="titulo-tablero">Tiempo: 20</h2>
          </div>
          <div class="col-md-2" *ngFor="let cartaTablero of CARTATABLERO">
            <img
              class="carta shadow-lg bg-white rounded"
              src="{{ cartaTablero.url }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-jugador></app-jugador>
    </div>
  </div>
</div>
