.wrappert {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: auto;
  /*background-color: #f5f5f5;*/
  background-image: url("../../../assets/img/maverl-03.webp");
}

.card {
  background-color: rgba(12, 12, 12, 0.753) !important;
  border-radius: 20px;
}

@font-face {
  font-family: "Avengeance Heroic Anvenger";
  src: url("../../../assets/fonts/avenger.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.titulo-tablero {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: white;
}

.carta {
  width: 170px;
  height: 340px;
}
