<div class="wrappert">
    <h2>
      <p style="color: rgb(214, 133, 87) ">Tablero de apuestas</p>
    </h2>
  <div class="row">
    <div class="col-sm-6 col-md-12 d-flex justify-content-center pt-5 pb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Turno</h5>
          <h5 class="card-title">Ronda</h5>
          <h5 class="card-title">Tiempo</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mazo</h5>
          <h5 class="card-title">Puntaje</h5>
        </div>
      </div>
    </div>
  </div>
</div>
