<div class="row card-jugador mt-5 d-flex justify-content-center">
  <div class="col-md-6 mt-4">
    <h2 class="titulo-tablero">Tú mazo: jugador 01</h2>
  </div>
  <div class="col-md-6 mt-4 d-flex justify-content-end">
    <h2 class="titulo-tablero">Puntaje: 0</h2>
  </div>
  <div class="col-md-2 mt-5" *ngFor="let cartaTablero of CARTATABLERO">
    <img
      class="carta shadow-lg bg-white rounded"
      src="{{ cartaTablero.url }}"
      alt=""
    />
  </div>
  <div class="pb-5"></div>
</div>
