@font-face {
  font-family: "Avengeance Heroic Anvenger";
  src: url("../../../assets/fonts/avenger.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.titulo-tablero {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: white;
}

.carta {
  width: 170px;
  height: 340px;
}

.card-jugador {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/truenos.gif");
}
